.ListOfSoldProducts {
    width: 70vw;
}

.ProductList {
    width: 100%;
}

.ProductList thead {
    font-size: 1.5rem;
}

.ProductList tbody {
    padding: 1rem;
    font-size: 1rem;
    border: 1px black solid;
    border-collapse: separate;
    background-color: rgb(239,238,239);
}