#SellPet__Customer-Info-Form {
    top: 10rem;
    left: 6rem;
    width: 90%;
    height: 60vh;
}

#SellPet__Customer-Info-Form__form {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}