#SellProduct__Customer-Info-Form {
    top: 6rem;
    left: 6rem;
    width: 90%;
    height: 500px;
    border: 1px solid black;
}

#SellProduct__Customer-Info-Form__form {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
