#editAppointment_form_complete_window {
    position: absolute;
    background: rgb(240, 240, 240);
    border: 2px solid black;
    top: 5rem;
    left: 0rem;
    width: calc(100vw - 10rem);
    height: fit-content;
    z-index: 0;
    display: flex;
    flex-direction: column;
}
