.eachCustomerAndPetInfo {
    padding: 1rem;
    font-size: 1rem;
    border: 1px black solid;
    background-color: rgb(239,238,239);
}

.eachCustomerAndPetInfo td{
    font-size: medium;
}

.eachCustomerAndPetInfo button {
    background-color:  rgb(2, 209, 255);
    width: 100%;
}

.eachCustomerAndPetInfo-photo {
    max-width: 200px;
}