.customer-and-pet__infoEditor {
    width: 95vw;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.infoEditor_customer_registrition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoEditor_customer_registrition input {
    height: 1.5rem;
}

.customer-and-pet__infoEditor .line-break {
    flex-basis: 100%;
}

.customer-and-pet__infoEditor__title {
    margin-bottom: 1rem;
}

.label-and-input {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

#customer,
#pet-1,
#pet-2,
#pet-3,
#pet-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pet-1,
#pet-2,
#pet-3,
#pet-4 {
    flex-wrap: wrap;
}

.customer-and-pet__infoEditor textarea {
    min-width: 40vw;
    min-height: 200px;
}

.eachCustomerAndPetInfo-photo {
    margin-bottom: 2rem;
}
