.addAppointment_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.addAppointment_form button {
    font-size: small;
    margin-top: 1rem;
}

.appointmentList td {
    max-width: 25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#addAppointment_form--choose {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
