.searchAndEditCustomer {
    margin-top: 5rem;
    display: block;
}

.searchAndEditCustomer h1 {
    font-size: 2rem;
}

.customerList {
    width: 90vw;
    border-collapse: separate;
    border-spacing: 0.3rem 1rem;
    margin-bottom: 8rem;
}

.customerList th {
    background: rgb(2, 209, 255);
}

.search-customer-account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-customer-account label {
    font-size: 17px;
}

.search-phone-button {
    font-size: 18px;
    margin-left: 5px;
}

.search-spinner {
    animation-name: spin;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
