.appointments {
    margin-top: 6rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appointments table{
    border: 1px black solid;
}